*{
    margin: 0;
    padding: 0;
    border: none;
}
body,
html {
    margin: 0;
    padding: 0;
    width: 100%;
    /*	background: #f4f4f4;*/
    /*background: #e3e3e3;*/
    font: 16px Microsoft YaHei, arial, sans-serif;
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
a:hover{
    color: red;
    text-decoration: none;
}
ul>li{
    list-style: none;
    float: left;
    text-align: center;
    /*background-color:green;*/
}
.layui-top-nav{
    width: 100%;
    height: 35px;
    background-color: #f1f1f1;
    /*z-index: 1;*/
}
.layui-top-nav .layui-nav-left{
    width: 230px;
    height: 35px;
    /*background-color: green;*/
    margin-left: 100px;
    float: left;
}
.layui-top-nav .layui-nav-right{
    width: 864px;
    height: 35px;
    position: absolute;
    right: 0;
}
.layui-nav-right .layui-nav{
    z-index: 99999;/*层级关系*/
}
.layui-nav-left>ul>li{
    margin-left: 15px;
    line-height: 35px;
    color: #999;
    font-size: 12px;
}
.layui-nav-left>ul>li>a{
    line-height: 35px;
    color: #999;
    font-size: 12px;
}
.layui-nav-left>ul>li>a:hover{
    color: red;
}
.layui-nav-right>.layui-nav>.layui-nav-item a,.layui-nav-right>.layui-nav>.layui-nav-item>.layui-nav-child>dd>a{
    line-height: 35px;
    color: #646464;
    font-size: 12px;
}
.layui-nav-right>.layui-nav>.layui-nav-item a:hover{
    color: red;
}
.layui-nav-child{
    list-style: none;
}
.layui-header{
    width: 100%;
    height: 130px;
    /*background-color: #e44089;*/
    position: relative;
}
.layui-header .layui-logo{
    margin-left: 100px;
    width: 240px;
    height: 130px;
    display: inline-block;
}
.layui-header .layui-logo>img{
    margin-top: 0;
}
.layui-header  .layui-form {
    width: 900px;
    /*background-color:red;*/
    /*height: 100px;*/
    display: inline-block;
    margin-left: 150px;
    position: absolute;
    top: 46px;
}
.layui-header .layui-form .layui-input-inline {
    width: 600px;
}
.layui-form .layui-smallNav{
    position: absolute;
    top: 45px;
}

.layui-sub>dl{
    overflow: hidden;
    padding: 0 0 10px 10px;
}
.layui-sub>dl>dt{
    width: 100%;
    float: left;
    display: block;
    clear: left;
}
.layui-sub>dl>dd {
    width: 680px;
    float: left;
    display: block;
    position: relative;
    overflow: hidden;
    padding-right: 20px;
    border-bottom: 1px dashed #E3E3E3;
}

.nav_left {
    width: 200px;
    height: 500px;
    background: #FF0036;
}

.nav_left ul {
    width: 100%;
    height: auto;
}

.nav_left ul li {
    height: 50px;
    line-height: 50px;
    text-align: left;
}

.nav_left ul li span {
    padding-left: 10px;
    height: 50px;
    line-height: 50px;
    display: block;
    background: #FF0036;
    color: #fff;
}

.nav_left ul li span:hover {
    color: #FF0036;
    background: #FFFFFF;
}

.nav_right {
    width: 800px;
    height: 500px;
    position: absolute;
    margin-left: 200px;
    top: 0px;
}

.sub {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 480px;
    background: #FFFFFF;
    padding: 10px 0px;
}

.sub dl {
    overflow: hidden;
    padding: 0px 0px 10px 0px;
}

.sub dt {
    width: 100px;
    float: left;
    display: block;
    position: relative;
    clear: left;
}

.sub dt a {
    font-size: 14px;
    color: #000;
    font-weight: bold;
    text-align: center;
    padding-left: 20px;
    text-decoration: none;
    cursor: pointer;
}

.sub dt i {
    width: 4px;
    right: 12px;
    top: 2px;
    font-size: 14px;
    position: absolute;
    font-style: normal;
}

.sub dd {
    width: 680px;
    float: left;
    display: block;
    position: relative;
    overflow: hidden;
    padding-right: 20px;
    border-bottom: 1px dashed #E3E3E3;
}

.sub dd a {
    font-size: 12px;
    float: left;
    color: #666;
    padding: 0 10px;
    margin: 4px 0px 10px 0px;
    text-decoration: none;
    cursor: pointer;
    border-left: 1px solid #E3E3E3;
}

.sub dd a:hover {
    color: #FF0036;
}

.hide {
    display: none;
}

.show {
    display: block;
}
.containor-menu {
    /*width: 1000px;*/
    height: auto;
    position: relative;
    /*margin: 0 auto;*/
    /*top: 50px;*/
    margin-left: 120px;
}

.nav_left {
    width: 200px;
    height: 500px;
    /*background: #FF0036;*/
    opacity:0.5;
}

.nav_left ul {
    width: 100%;
    height: auto;
}

.nav_left ul li {
    height: 50px;
    line-height: 50px;
    text-align: left;
}

.nav_left ul li span {
    padding-left: 10px;
    height: 50px;
    line-height: 50px;
    display: block;
    background: #FF0036;
    color: #fff;
}

.nav_left ul li:hover {
    color: #FF0036;
    background: #FFFFFF;
}

.nav_right {
    width: 800px;
    height: 500px;
    position: absolute;
    margin-left: 200px;
    top: 0px;
}

.sub {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 480px;
    background: #FFFFFF;
    padding: 10px 0px;
}

.sub dl {
    overflow: hidden;
    padding: 0px 0px 10px 0px;
}

.sub dt {
    width: 100px;
    float: left;
    display: block;
    position: relative;
    clear: left;
}

.sub dt a {
    font-size: 14px;
    color: #000;
    font-weight: bold;
    text-align: center;
    padding-left: 20px;
    text-decoration: none;
    cursor: pointer;
}

.sub dt i {
    width: 4px;
    right: 12px;
    top: 2px;
    font-size: 14px;
    position: absolute;
    font-style: normal;
}

.sub dd {
    width: 680px;
    float: left;
    display: block;
    position: relative;
    overflow: hidden;
    padding-right: 20px;
    border-bottom: 1px dashed #E3E3E3;
}

.sub dd a {
    font-size: 12px;
    float: left;
    color: #666;
    padding: 0 10px;
    margin: 4px 0px 10px 0px;
    text-decoration: none;
    cursor: pointer;
    border-left: 1px solid #E3E3E3;
}

.sub dd a:hover {
    color: #FF0036;
}

.hide {
    display: none;
}

.show {
    display: block;
}
.nav_left ul li {
    /*height: 50px;*/
    /*line-height: 50px;*/
    /*text-align: left;*/
    width: 100%;
}
.containor-nav ul{
    /*background-color: #e4779f;*/
    width: 100%;
    height: 37px;
    margin-left: 120px;
}
.containor-nav ul li{
    width: 70px;
    /*background-color: #00FF00;*/
    margin-right: 10px;
    height: 100%;
    line-height: 37px;
    text-align: center;
}
.containor-nav  .first-li{
    width: 200px;
    background-color: red;
    color: white;
    font-weight: bold;
}
.containor-nav .li-width{
    width: 100px;
}
.containor-nav {
    border-bottom: 2px solid red;
}